<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(BasicLayout)">
                <NotAuthorized>
                    <Blazor_OpenBMCLAPI.Components.Unauth/>
                </NotAuthorized>
                <Authorizing>
                    <h1>Authoring</h1>
                </Authorizing>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView>

        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(BasicLayout)">
                <Blazor_OpenBMCLAPI.Components.NotFound/>
            </LayoutView>
        </NotFound>
    </Router>
    <AntContainer />
</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>