@inject IStringLocalizer<Resources.Auth> i18n
@inject NavigationManager NavigationManager
<Result Status="404"
        Title=@i18n["notfound_title"]
        SubTitle=@i18n["notfound_intro"]
        Extra="extra" />

@code {
    RenderFragment extra;
    protected override async Task OnInitializedAsync()
    {
        extra = (RenderTreeBuilder __builder) =>
        {
            <div>
                <Button Type=@ButtonType.Primary Style="display:inline-block" @onclick="NavigateToHome">@i18n["back_home"]</Button>
            </div>
        };
    }
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/", true);
    }
}
