@inject IStringLocalizer<Resources.Auth> i18n
@inject NavigationManager NavigationManager
<Result Status="403"
        Title=@i18n["unauth_title"]
        SubTitle=@i18n["unauth_intro"]
        Extra="extra" />

@code {
    RenderFragment extra;
    protected override async Task OnInitializedAsync()
    {
        extra = (RenderTreeBuilder __builder) =>
        {
            <div>
                <Button Type=@ButtonType.Primary Style="display:inline-block" @onclick="NavigateToHome">@i18n["back_home"]</Button>
                <Button Style="display:inline-block" @onclick="NavigateToLogin">@i18n["login_title"]</Button>
            </div>
        };
    }
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/", true);
    }
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login", true);
    }
}
