@page "/cluster"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
<h1 style="font-size:32px">@i18n["cluster"]</h1>
<br/>
<p style="font-size:14px">@i18n["cluster_intro"]</p>

<GridRow>
    <p>ID:</p>
    <Input Placeholder="cluster ID" @bind-Value="@cluster_id" DebounceMilliseconds="0" />
</GridRow>
@code {
    public string cluster_id{ get; set; }
    public string cluster_secret { get; set; }
    I18nText.profile i18n = new I18nText.profile();
    protected override async Task OnInitializedAsync()
    {
        i18n = await I18nText.GetTextTableAsync<I18nText.profile>(this);
    }
}
