@page "/login"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inject NavigationManager NavigationManager
<h1 style="font-size=24px">@i18n["login_title"]</h1>
<Blazor_OpenBMCLAPI.Components.UserInfoInput inputType="login"/>
@code {
    I18nText.auth i18n = new I18nText.auth();
    protected override async Task OnInitializedAsync()
    {
        if (!await db.IsUserExist()) NavigationManager.NavigateTo("/register", true);
        i18n = await I18nText.GetTextTableAsync<I18nText.auth>(this);
    }
}
