@page "/login"
@inject IStringLocalizer<Resources.Auth> i18n
@inject NavigationManager NavigationManager
<h1 style="font-size=24px">@i18n["login_title"]</h1>
<Blazor_OpenBMCLAPI.Components.UserInfoInput inputType="login"/>
@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await db.IsUserExist()) NavigationManager.NavigateTo("/register", true);
    }
}
