@page "/register"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inject NavigationManager NavigationManager
<h1 style="font-size:20px">@i18n["register_title"]</h1>
<p>@i18n["register_intro"]</p>
<Blazor_OpenBMCLAPI.Components.UserInfoInput inputType="register"/>
@code {
    I18nText.auth i18n = new I18nText.auth();
    protected override async Task OnInitializedAsync()
    {
        if (await Shared.Database.IsUserExist()) NavigationManager.NavigateTo("/unauth",true);
        i18n = await I18nText.GetTextTableAsync<I18nText.auth>(this);
    }
}
